{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="landing">
        <div class="landing-overlay">
            <h1>Entrez dans le cercle</h1>
            <h2>Le bon ...</h2>
            <a href="{{ path('adList') }}" class="btn btn-primary">Découvrir toutes nos annonces</a>
        </div>
    </div>
{% endblock %}