{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="content">
        <h1>Entrez dans le cercle</h1>
        <h2>Le bon ...</h2>
    </div>
{% endblock %}