


header {
    background-color : #003457;
    color: white;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
}

.landing {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image : url('./../img/library.jpg');
    background-size: cover;
    
    display: flex;
    flex-direction:column;
    align-items: center; 
}

.landing-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin-top : 5rem;
    color: white;
    text-align: center;
}

.container {
    color : black;
    text-align: center;
    padding: 1rem;
}

.card {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .ads .card {
    border: 2px solid #003457;
    margin: 2rem;
    padding: 1rem;
    border-radius : 1rem;
    
}


