{% extends 'base.html.twig' %}

{% block title %}Les annonces{% endblock %}

{% block body %}
    <div class='container'>

        <h1> Les annonces !</h1>

        <div class="ads">
            {% for ad in ads %}

            <div class="card">
                    <h2 class="card-title">{{ ad.title }}</h2>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
